@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,600&display=swap');


html, body{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
    
    background-color: #d1e8e2;

}

body{
    background: f1fbff;
}

.section-padding{
    padding: 100px 0;
}

.custom{
    background-color: #c2cad0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #253472;
}

.nav-link:hover{
    background-color: #e1e5e8;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Vollkorn', serif;
    letter-spacing: 1.5px;
}

.heading{
    align-items: center;
    align-self: center;
    }

.head{
    background-color: #c2cad0;

}